:host {
  width: 10%;
  height: 40px;
}

@media (max-width: 576px) {
  :host {
    height: 30px;
  }  
}

.cell {
  display: block;
  box-sizing: border-box;
  
  width: 100%;
  height: 100%;

  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(top, #a9e4f7 0%, #6ecce9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a9e4f7 0%,#6ecce9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a9e4f7 0%,#6ecce9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    outline: none;
    border: 1px solid red;
  }

  &_hasShip {
    background: #ffa053; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffa053 0%, #e8b642 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffa053 0%,#e8b642 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffa053 0%,#e8b642 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    &:hover,
    &:active,
    &:visited,
    &:focus {
      outline: none;
      border: 1px solid blue;
    }
  }

  &_hasFire {
    position: relative;

    &::after,
    &::before {
      display: block;
      content: "";
      position: absolute;

      background: darkblue;
      border-radius: 50%;

      width: 4px;
      height: 100%;

      top: 50%;
      left: 50%;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
  }
}