:host {
  width: 400px;
  height: 400px;
}

@media (max-width: 576px) {
  :host {
    width: 300px;
  }  
}

.field {
  @extend %list;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}